@model List<Learned_By_Pokemon>
@using PokemonAPIProject.Helpers;

<h2>Pokemon that can learn @TextCleaner.Clean(TempData.Peek("moveName").ToString()):</h2>
<ul>
    @foreach(Learned_By_Pokemon p in Model)
    {
        <li>@TextCleaner.Clean(p.name)</li>
        <a asp-action="SearchByName" asp-controller="Home" asp-route-pokemon="@p.name">
            <button>
                See More!
            </button>
        </a>
    }
</ul>

<ul class="pagination">
    @if (int.Parse(TempData.Peek("pageNumber").ToString()) != 1)
    {
        <li>
            <a asp-action="SearchByMove" asp-controller="Home" asp-route-move="@TempData["moveName"]" asp-route-pageNumber="@(int.Parse(TempData.Peek("pageNumber").ToString()) - 1)">[Previous]</a>
        </li>
    }
    @if (Model.Count() == int.Parse(TempData.Peek("pageSize").ToString()))
    {
        <li>
            <a asp-action="SearchByMove" asp-controller="Home" asp-route-move="@TempData["moveName"]" asp-route-pageNumber="@(int.Parse(TempData.Peek("pageNumber").ToString()) + 1)">[Next]</a>
        </li>
    }
</ul>
