@model List<Pokemon>
@using PokemonAPIProject.Helpers; 

<h2>All Pokemon with the @TextCleaner.Clean(TempData.Peek("typeName").ToString()) type!</h2>

<ul style=" list-style-position: inside; display: inline-block; text-align: left;">
    @foreach (Pokemon p in Model)
    {
        <li>
            <a asp-action="SearchByName" asp-controller="Home" asp-route-pokemon="@p.pokemon.name">
                @TextCleaner.Clean(p.pokemon.name)
            </a>
        </li>
      }
</ul>

<ul class="pagination">
    @if (int.Parse(TempData.Peek("pageNumber").ToString()) != 1)
    {
        <li>
            <a asp-action="SearchByType" asp-controller="Home" asp-route-type="@TempData["typeName"]" asp-route-pageNumber="@(int.Parse(TempData.Peek("pageNumber").ToString()) - 1)">[Previous]</a>
        </li>
    }
    @if (Model.Count() == int.Parse(TempData.Peek("pageSize").ToString()))
    {
        <li>
            <a asp-action="SearchByType" asp-controller="Home" asp-route-type="@TempData["typeName"]" asp-route-pageNumber="@(int.Parse(TempData.Peek("pageNumber").ToString()) + 1)">[Next]</a>
        </li>
    }
</ul>