@model List<Learned_By_Pokemon>

<h2>Pokemon that can learn @TempData.Peek("moveName"):</h2>
<ul>
    @foreach(Learned_By_Pokemon p in Model)
    {
        <li>@p.name</li>
        <a asp-action="SearchByName" asp-controller="Home" asp-route-pokemon="@p.name">
            <button>
                See More!
            </button>
        </a>
    }
</ul>

<ul class="pagination">
    @if (int.Parse(TempData.Peek("pageNumber").ToString()) != 1)
    {
    <li><a asp-action="SearchByMove" asp-controller="Home" asp-route-move="@TempData["moveName"]" asp-route-pageNumber="@(int.Parse(TempData.Peek("pageNumber").ToString()) - 1)">[Previous]</a></li>
    }
<li>
    <a asp-action="SearchByMove" asp-controller="Home" asp-route-move="@TempData["moveName"]" asp-route-pageNumber="@(int.Parse(TempData.Peek("pageNumber").ToString()) + 1)">[Next]</a>
</li>
    
</ul>
