@model PokemonRoot

<div class="city">
    <h2 align="center">@Model.name</h2>
    <br />
    <img src=@Model.sprites.other.dream_world.front_default class="center"/>
    <br />

    <img src=@Model.sprites.front_default />
    <img src=@Model.sprites.back_default />
    <img src=@Model.sprites.front_shiny />
    <img src=@Model.sprites.back_shiny />
    <img src=@Model.sprites.front_female />
    <img src=@Model.sprites.back_female />
    <img src=@Model.sprites.front_shiny_female />
    <img src=@Model.sprites.back_shiny_female />
    <br />
</div>

<div class="city">
    <table align="center">
        <tr>
            @if (Model.types.Length == 1)
            {
                <h2 align="center">Type:</h2>
            }
            else
            {
                <h2 align="center">Types:</h2>
            }
        </tr>
        <tr>
            <td>@Model.types[0].type.name</td>
        </tr>
        @if (Model.types.Length > 1)
        {
            <tr>
                <td>@Model.types[1].type.name</td>
            </tr>
        }
    </table>
</div>

<div class="city">
    <table align="center">
        <tr>
            <h2 align="center">Stats</h2>
        </tr>
        @for (int i = 0; i < 6; i++)
        {
            <tr>
                <td>@Model.stats[i].stat.name : @Model.stats[i].base_stat</td>
            </tr>
        }
        <tr>
            <td>height: @((double)Model.height/10) meters</td>
        </tr>
        <tr>
            <td>weight: @((double)Model.weight/10) kg</td>
        </tr>
    </table>
</div>

<div class="city">
    <table id="abilities" align="center">
        <tr>
            <h2 align="center">Abilities</h2>
        </tr>
        @if (Model.abilities.Count() != 0)
        {
            for (int i = 0; i < Model.abilities.Length; i++)
            {
                <tr>
                    <td>@Model.abilities[i].ability.name</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td>No ability data to display.</td>
            </tr>
        }
    </table>
</div>

<div class="city">
    <table id="base-moves" align="center">
        <tr>
            <h2 align="center">Moves learned at level 1:</h2>
        </tr>
        @if (Model.moves.Count() != 0)
        {
            foreach (Move m in Model.moves)
            {
                bool baseMove = false;
                foreach (Version_Group_Details v in m.version_group_details)
                {
                    if (v.level_learned_at == 1)
                    {
                        baseMove = true;
                    }
                }

                if (baseMove)
                {
                    <tr>
                        <td>@m.move.name</td>
                    </tr>
                }
            }
        }
        else
        {
            <tr>
                <td>No move data to display</td>
            </tr>
        }
    </table>
</div>
    <br />
    <button class="center">
        <a asp-action="Add" asp-controller="Favorites" asp-route-pokemon="@Model.name">Add this Pokemon to your Deck! </a>
    </button>

