@model List<Pokemon_Entries>

<h2>Pokemon in @TempData.Peek("dexName"):</h2>

<ul>
    @foreach (Pokemon_Entries p in Model)
    {
        <li>@p.pokemon_species.name</li>
        <a asp-action="SearchByName" asp-controller="Home" asp-route-pokemon="@p.pokemon_species.name">
            <button>
                See More!
            </button>
        </a>
    }
</ul>

<ul class="pagination">
    @if (int.Parse(TempData.Peek("pageNumber").ToString()) != 1)
    {
        <li>
            <a asp-action="SearchByDex" asp-controller="Home" asp-route-dex="@TempData["dexName"]" asp-route-pageNumber="@(int.Parse(TempData.Peek("pageNumber").ToString()) - 1)">[Previous]</a>
        </li>
    }
    @if (Model.Count() == int.Parse(TempData.Peek("pageSize").ToString()))
    {
        <li>
            <a asp-action="SearchByDex" asp-controller="Home" asp-route-dex="@TempData["dexName"]" asp-route-pageNumber="@(int.Parse(TempData.Peek("pageNumber").ToString()) + 1)">[Next]</a>
        </li>
    }
</ul>

